body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #568392;
}
header, footer {
    background-color: #333;
    color: rgb(174, 150, 177);
    text-align: center;
    padding: 1em 0;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Lobster', cursive;
}

nav ul li a:hover {
    color: #ff6347;
}
